<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Beta</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
  
</head>
<body>
  
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Uganda Property Reference", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })<span class="label label-danger">BETA</span>
            </div>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li>@Html.ActionLink("Home", "Index", "Home")</li>
                  <li>@Html.ActionLink("About Us", "About", "Home")</li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li><a href="/Values/Index">Price Database&nbsp;<i class="glyphicon glyphicon-search"></i></a></li>
                          <li class="divider"></li>
                          <li>@Html.ActionLink("Property Price Index","PriceIndex","Home")</li>
                          <li class="divider"></li>
                          <li><a href="#">Effect of Infrastructure Projects</a></li>
                      </ul>
                  </li>
                  @if (User.IsInRole("Admin"))
                  {


                      <li>@Html.ActionLink("Users", "Index", "UsersAdmin")</li>
                              <li>@Html.ActionLink("Roles", "Index", "RolesAdmin")</li>


                  }

              </ul>

                  @Html.Partial("_LoginPartial")
              
    </div>
       
        </div>
    </div>
    <h5 class="text-primary text-center">This is a new service – your feedback will help us to improve it.</h5>
 
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        
            <p>&copy; @DateTime.Now.Year - Uganda Property Reference</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $('ul.nav li.dropdown').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(200);
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(200);
        });
    </script>
</body>
</html>
