<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Beta</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
  
</head>
<body>
  
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Uganda Property Reference", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })<span class="label label-danger">BETA</span>
            </div>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li>@Html.ActionLink("Home", "Index", "Home")</li>
                  <li>@Html.ActionLink("About Us", "About", "Home")</li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li><a href="/Values/Index">Sales Price Database</a></li>                 
                          <li class="divider"></li>
                          <li><a href="#">Land Affected by Infrastructure Projects Database</a></li>
                      </ul>
                  </li>
                  @if (User.IsInRole("Admin"))
                  {


                      <li>@Html.ActionLink("Users", "Index", "UsersAdmin")</li>
                              <li>@Html.ActionLink("Roles", "Index", "RolesAdmin")</li>


                  }

              </ul>

                  @Html.Partial("_LoginPartial")
              
    </div>
       
        </div>
    </div>
    <h5 class="text-danger text-center">This is a new service – your <a>feedback</a> will help us to improve it.</h5>
 
    <div class="container body-content">
        @RenderBody()
        
        <hr />
        <footer>
          
                <small>
                    Disclaimer
                    
                        • The majority of the property sales transactions registered therein are a representation of the true property market of Uganda. However it does not take into consideration neither does it separate the sales transactions that are carried out under duress or distress from normal arm’s length willing buyer willing seller market transactions.
                       •The information given herein is provided on the understanding that its accuracy is not guaranteed and that no liability whatsoever can be accepted if loss of damage results from any error, omission, or misstatement therein.
                </small>
           
            <p>&copy; @DateTime.Now.Year - Uganda Property Reference</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $('ul.nav li.dropdown').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeIn(200);
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(200);
        });
    </script>
</body>
</html>
